/* =========================
   ROOT
========================= */

:root {
    /* Cores */
    --color-primary: #0b447a;
    --color-primary-dark: #072f55;
    --color-primary-light: #2cb2e8;
    --color-accent: #F2F3F5;
    --color-text: #6B6B6B;
    --color-text-dark: #3A3A3A;
    /*azul marinho: #0E1A4B versão um pouco mais clara: #1F2F7A
    azul medio: #3A5BFF - icones de cards, etc
    azul claro: #AAB6FF
    azul vibrante: #4C6FFF
    cinza grafite: #3A3A3A
    cinza médio: #6B6B6B
    cinza claro (quase branco): #F2F3F5
    como estava antes:width: 
    --color-primary: #0b447a;
    --color-primary-dark: #072f55;
    --color-primary-light: #2cb2e8;
    --color-accent: #1FA7A8;
    --color-text: rgb(92, 92, 92);
    --color-text-dark: rgb(10, 10, 56);;

    /* Gradiente */
    --gradient-cta: linear-gradient(to right, #13487a, #5a81a5, #13487a);
    --gradient-cta-top: linear-gradient(135deg,
            rgba(236, 237, 242, 0.875), white, rgba(236, 237, 242, 0.875));
    --gradient-dark: linear-gradient(135deg, #0c111d, #1e3a8a);

    /* Espaçamentos */
    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 1.5rem;
    --space-lg: 2rem;
    --space-xl: 3rem;
    --space-2xl: 5rem;
    --space-3xl: 8rem;

    /* Tipografia */
    --font-sans: 'Inter', sans-serif;
    --font-display: 'Roboto', sans-serif;
    --text-sm: 0.9rem;
    --text-base: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 1.2rem;
    --text-xxl: 1.4rem;
    --text-2xl: 2.5rem;
    --text-3xl: 2.8rem;
    --text-display: 3.5rem;

    /* Raios */
    --radius-sm: 6px;
    --radius-md: 10px;
    --radius-lg: 20px;

    /* Transições */
    --transition-fast: 0.3s ease;
}

/* =========================
   RESET / BASE
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-sans);
    background-color: var(--color-white);
}

h1 {
    font-family: var(--font-display);
    font-size: var(--text-display);
    color: var(--color-text-dark);
    margin-bottom: var(--space-md);
}

h2 {
    margin-bottom: var(--space-sm);
    color: var(--color-text-dark);
    font-size: var(--text-2xl);
}

h3 {
    margin-bottom: 0.75rem;
    font-size: var(--text-sm);
    font-weight: 500;
}

p {
    font-size: var(--text-lg);
    color: var(--color-text);
    margin-bottom: var(--space-sm);
}

a {
    text-decoration: none;
    color: #1E2F5C;
    transition: var(--transition-fast);
}

ul {
    padding-left: 16px;
    list-style-position: inside;
}

li {
    list-style: none;
}

/* =========================
   ICONS/BUTTONS
========================= */

.btn-icon,
.whitebtn-icon {
    width: 1.3rem;
    height: 1.3rem;
}

.btn-icon {
    fill: var(--color-primary-dark);
}

.whitebtn-icon {
    fill: var(--color-white);
}

.start-icon {
    padding: 0.7rem;
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity, 1));
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    text-align: center;
}

.start-icon svg {
    height: 2rem;
    width: 2rem;
    fill: var(--color-accent);
}

.middle-icon {
    margin-bottom: var(--space-sm);
    padding: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity, 1));
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(6px);
    width: 3.4rem;
    height: 3.4rem;
}

.middle-icon svg {
    height: 2rem;
    width: 2rem;
    fill: var(--color-accent);
}

.middle-icon svg+svg {
    margin-left: -6px;
}

.cta-btn {
    background-color: var(--color-accent);
    padding: 0.8rem var(--space-md);
    border-radius: var(--radius-sm);
    display: flex;
    font-weight: 500;
}

.cta-btn svg {
    padding-left: 0.3rem;
}

.cta-btn:hover {
    color: var(--color-primary-dark);
    background-color: #e0efef;

}

/* =========================
   HEADER
========================= */

header {
    height: 8rem;
    padding: 0 10rem;
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}

header img {
    max-height: 4rem;
    width: auto;
    display: block;
}

.nav {
    display: flex;
    gap: var(--space-lg);
    align-items: center;
}

.btn-nav {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 0.6rem var(--space-sm);
    border-radius: var(--radius-sm);
    transition: var(--transition-fast);
}

.btn-nav:hover {
    background-color: var(--color-primary-dark);
    color: var(--color-white);
}

header a:hover {
    color: var(--color-accent);
}

/* =====================
   HERO
===================== */

.hero {
    min-height: 30rem;
    padding: var(--space-2xl) 7rem;
    background: var(--gradient-dark);
    position: relative;
    overflow: hidden;
}

.hero-content {
    max-width: 60vw;
    position: relative;
    z-index: 1;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(15, 23, 42, 0.35);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 0;
}

.hero p {
    margin-bottom: var(--space-lg);
}

.btn-outline,
.btn-primary {
    padding: 0.8rem 1.5rem;
    border-radius: var(--radius-sm);
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.btn-outline {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.btn-outline:hover {
    background-color: var(--color-primary-dark);
}

.btn-primary {
    background-color: var(--color-white);
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
}

.btn-primary:hover {
    background-color: var(--color-primary-dark);
    color: var(--color-white);
}

/* =====================
   SERVICES (HOME)
===================== */

.services {
    padding: var(--space-2xl);
    display: grid;
    gap: var(--space-xl);
    justify-items: center;
    background: var(--gradient-cta-top);
}

.services-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--space-lg);
}

.service-card {
    max-width: 22rem;
    background-color: var(--color-white);
    border-radius: var(--radius-md);
    overflow: hidden;
    transition: transform var(--transition-fast);
    display: flex;
    flex-direction: column;
}

.service-card:hover {
    transform: scale(1.05);
}

.card-text {
    padding: var(--space-lg);
    display: flex;
    flex-direction: column;
    flex: 1;
    line-height: var(--space-md);
}

.card-text h3 {
    font-size: var(--text-lg);
}

.card-text p {
    font-size: var(--text-base);
}

.card-text li {
    font-size: var(--text-sm);
    color: rgb(76, 76, 76);
    list-style: circle;
}

::marker {
    color: var(--color-primary-light);
}

.card-link {
    font-size: var(--text-sm);
    margin-top: auto;
    padding-top: var(--space-md);
    color: var(--color-primary-light);
}

.card-link:hover {
    color: #2285ac;
}

.areas-of-expertise {
    background-color: var(--color-primary-dark);
    padding: var(--space-2xl);
    border-radius: var(--radius-lg);
    text-align: center;
}

.areas-of-expertise h2 {
    margin-bottom: var(--space-lg);
}

.expertise-item {
    display: flex;
}

/* =====================
   TERCEIRIZAÇÃO (HOME)
===================== */

.outsourcing {
    padding: var(--space-2xl);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.outsourcing-card {
    background-color: var(--color-primary);
    padding: var(--space-lg);   
    border-radius: var(--radius-lg); 
}

.icon-without-bg {
    background-color: transparent;
}

.card-title {
    display: flex;
    align-items: center;
}

.outsourcing-card h2 {
    font-size: var(--text-xxl);
}

.outsourcing-card p {
    font-size: var(--text-base);
}

.outsourcing-ul {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 1.5rem;
}

/* =====================
   METODOLOGIA (HOME)
===================== */

.methodology {
    padding: var(--space-2xl);
}

.methodology-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.methodology ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.lists {
    display: grid;
    gap: 1rem;
}

.features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.card {
    padding: 0.9rem;
    background-color: var(--color-accent);
    border-radius: var(--radius-md);
}

.tags {
    padding: var(--space-sm);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-color: var(--color-text);
    border-radius: var(--radius-md);
    text-align: center;
}

.tag-list {
    padding: var(--space-xs);    display: flex;
    gap: 1rem;
    justify-content: center;
}

.tag {
    padding: var(--space-xs);
    background-color: var(--color-accent);
    border-radius: var(--radius-md);
}

.methodology-item {
    display: grid;
    grid-template-columns: m 1fr;
    grid-template-areas:
        "icon title"
        "icon text";
    justify-content: start;
    gap: 0.5rem;
}

.methodology-text {
    margin-left: var(--space-md);
}

.methodology-text h2 {
    font-size: var(--text-xl);
}

.methodology-text p {
    font-size: var(--text-base);
}

/* =====================
   ABOUT (HOME)
===================== */

.about {
    padding: var(--space-2xl) 6rem;
    background: var(--gradient-dark);
    position: relative;
    overflow: hidden;
}

.about::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(15, 23, 42, 0.35);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 0;
}

.about-content {
    position: relative;
    z-index: 1;
}

.about h2 {
    font-size: var(--text-3xl);
    color: var(--color-white);
}

.about p {
    font-size: var(--text-lg);
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.about-header p {
    padding-bottom: var(--space-xl);
    color: var(--color-white);
}

.about-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.about-benefits {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: var(--space-xl);
    width: 100%;
    height: 100%;
}

.about-benefits:hover {
    background: rgba(255, 255, 255, 0.127);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.about-cards li {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10rem;
    border-radius: var(--radius-lg);
    overflow: hidden;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}

.about-benefits h3 {
    padding-bottom: 0.8rem;
    font-size: var(--text-lg);
    color: var(--color-white);
}

.about-benefits p {
    font-size: var(--text-sm);
    opacity: 1;
    color: rgb(148 163 184 / var(--tw-text-opacity, 1));
}

/* =====================
   CTA - BOTTOM
===================== */

.cta {
    background-image: var(--gradient-cta);
    min-height: 22rem;
    padding: var(--space-2xl);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta h2 {
    font-size: var(--text-3xl);
    color: var(--color-white);
}

.cta p {
    margin: var(--space-md) 0 var(--space-lg);
    text-align: center;
    --tw-text-opacity: 1;
    color: rgb(207 250 254 / var(--tw-text-opacity, 1));
}

/* =====================
   FOOTER
===================== */

footer {
    min-height: 22rem;
    padding: var(--space-lg) var(--space-3xl);
    overflow: hidden;
    --tw-bg-opacity: 1;
    background-color: rgb(15 23 42 / var(--tw-bg-opacity, 1));
    color: var(--color-white);
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.footer-brand {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-white);
    max-width: 22rem;
}

.footer-brand img {
    max-width: 16rem;
    height: auto;
    display: block;
}

.footer-brand p {
    padding-top: var(--space-sm);
    font-size: var(--text-sm);
    font-weight: 400;
    line-height: var(--text-xl);
    --tw-text-opacity: 1;
    color: rgb(148 163 184 / var(--tw-text-opacity, 1));
}

.footer-right {
    display: flex;
    gap: 10rem;
    align-items: flex-start;
    padding: var(--space-lg) 0;
}

.footer-nav,
.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}

.footer-nav h4,
.footer-contact h4 {
    color: var(--color-accent);
    font-size: var(--text-lg);
    margin-bottom: var(--space-xs);
}

.footer-nav a,
.footer-contact li {
    color: var(--color-white);
    font-size: var(--text-sm);
    font-weight: 300;
}

.footer-nav a:hover {
    color: var(--color-accent);
}

.footer-contact ul {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding: 0;
    margin: 0;
}

.divider {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
    margin: var(--space-lg) 0 var(--space-md);
}

.footer-copyright {
    text-align: center;
    font-size: 0.85rem;
    color: rgba(255, 255, 255, 0.7);
}

/* =========================
   SERVICES DETAILS (PÁGINA SERVIÇOS)
========================= */

.areas-header {
    padding: var(--space-2xl) var(--space-2xl) var(--space-xl);
    justify-items: center;
}

.areas-grid {
    padding: 0 var(--space-3xl) var(--space-2xl);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.areas-grid-content {
    padding: var(--space-lg);
    background-color: var(--color-accent);
    border-radius: var(--radius-lg);
    min-height: 15rem;
    transition: transform var(--transition-fast);
    overflow: hidden;
}

.areas-grid-content:hover {
    transform: scale(1.05);
}

.areas-grid h2 {
    font-size: var(--text-xl);
    margin-top: var(--space-sm);
}

.areas-grid p {
    font-size: var(--text-base);
}

/* =========================
   CONTRACT
========================= */

.types-contract {
    padding: var(--space-xl) var(--space-3xl) ;
    background-color: var(--color-accent);
}

.contract-header {
    justify-items: center;
    text-align: center;
    padding-bottom: var(--space-xl);
}

.contract-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.contract-card {
    display: flex;
    flex-direction: column;
}

.contract-card > .start-icon {
    background-color: transparent;
}

.contract-card h2 {
    font-size: var(--text-xl);
    margin-top: var(--space-sm);
    color: var(--color-accent);
}

.contract-card li {
    font-weight: 300;
    padding-bottom: var(--space-xs);
    font-size: var(--text-sm);
}

.contract-card p {
    font-size: var(--text-sm);
    color: var(--color-primary-dark);
}

.contract-content {
    background-color: var(--color-primary-dark);
    padding: var(--space-md);
    border-radius: var(--radius-lg) var(--radius-lg) 0 0;
}

.contract-text {
    padding: var(--space-md);
    background-color: #FFFFFF;
    border-radius: 0 0 var(--radius-lg) var(--radius-lg);
    min-height: 15rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.contract-text > .divider {
    background: var(--color-accent);
    margin: 1rem 0 1rem;
    margin-top: auto;
}

/* =========================
   CTA - TOP
========================= */

.cta-top {
    background: var(--gradient-cta-top);
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: var(--space-2xl) 0;
}

.cta-top h3,
.cta-top h2,
.cta-top p,
.services-header h3,
.services-header h2,
.services-header p,
.contract-header h3,
.contract-header h2,
.contract-header p {
    max-width: 50vw;
}

.cta-top h3,
.services-header h3 {
    color: var(--color-primary-light);
}

.cta-top h2 {
    font-size: var(--space-xl);
    color: var(--color-primary-dark);
}

.lighter-words {
    color: var(--color-primary-light);
}

.cta-top p {
    margin: var(--space-md) 0 var(--space-lg);
    text-align: center;
    color: var(--color-text);
    font-size: var(--text-lg);
}

/* =========================
   ABOUT DETAILS (PÁGINA SOBRE)
========================= */

.history {
    padding: 6rem;
    background-color: var(--color-white);
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5rem;
}

.history-img {
    background-color: #dae0e6;
    border-radius: var(--radius-lg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.history-img img {
    max-width: 13rem;
}

.history h2 {
    font-size: 3rem;
    margin-bottom: var(--space-lg);
}

.history p {
    font-size: var(--text-lg);
    margin-bottom: var(--space-md);
}

.about-section {
    background-image: var(--gradient-dark);
}

.about-values,
.values {
    position: relative;
    z-index: 1;
}

.about-values {
    padding: var(--space-2xl) 7rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.about-card {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    padding: var(--space-xl);
    border-radius: var(--radius-lg);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.about-card:hover {
    background: rgba(255, 255, 255, 0.127);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.about-card h3 {
    font-size: var(--text-xl);
    color: var(--color-white);
}

.about-card p {
    font-size: var(--text-base);
    opacity: 1;
    color: rgb(148 163 184 / var(--tw-text-opacity, 1));
}

.values {
    text-align: center;
    padding: 0 var(--space-2xl) var(--space-2xl);
}

.values-text h2 {
    font-size: var(--text-2xl);
    color: var(--color-white);
    margin-bottom: var(--space-sm);
}

.values-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.values-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: var(--space-sm);
    border-radius: var(--radius-lg);
}

.values-card h3 {
    font-size: var(--text-lg);
    color: var(--color-white);
}

.values-card p {
    font-size: var(--text-sm);
    opacity: 1;
    color: rgb(148 163 184 / var(--tw-text-opacity, 1));
}

/* =========================
   RESPONSIVO
========================= */

@media (max-width: 900px) {
    .footer-flex {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}